body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: hsl(210, 17%, 93%);
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* the three cards section id */
#left {
  height: 90vh;
  width: 25%;
  background-color: white;
  position: absolute;
  left: 7%;
  top: 10vh;
}

#middle {
  height: 100vh;
  width: 25%;
  background-color: white;
  position: absolute;
  left: 38%;
}

#right {
  height: 90vh;
  width: 25%;
  background-color: white;
  position: absolute;
  right: 7%;
}

/* left-card section */

.header {
  height: 50%;
  width: 100%;
  position: relative;
}

.header-img {
  height: 100%;
  width: 100%;
}

.sunnyside {
  position: absolute;
  top: 0;
  left: 3px;
  color: white;
}

.creative{
  position: absolute;
  left: 45px;
  color: white;
}

.egg-img {
  height: 30%;
  width: 100%;
}

.right-card-bottom {
  text-align: center;
}

/* middle-card images and text */

.middle-text-top {
  height: 6%;
  width: 100%;
  text-align: center;
}

.standOut-img {
  height: 25%;
  width: 100%;
}

.middle-text-center {
  height: 36%;
  width: 100%;
  text-align: center;
}

.apple-img {
  height: 25%;
  width: 100%;
}

/* right section */
.right-section-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "one two"
  "three four";
  height: 30%;
  width: 100%;
}

.milkBottle-img {
  background:url(./images/mobile/image-gallery-milkbottles.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area:one; 
  
}

.orang-img {
  background:url(./images/mobile/image-gallery-orange.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: two;
  
}

.cone-img {
  background:url(./images/mobile/image-gallery-cone.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
  
}

.sugar-img {
  background:url(./images/mobile/image-gallery-sugar-cubes.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: four;
  
}

